flows.json
[{"id":"fe7efa8a.bfa918","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2d41f131.11476e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a2bd60de.ac702","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"135bbcef.f87bc3","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Georgia,Georgia,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#ec0e24","baseFont":"Georgia,Georgia,serif","reset":false},"themeState":{"base-color":{"default":"#b35037","value":"#ec0e24","edited":true},"page-titlebar-backgroundColor":{"value":"#751ad1","edited":true},"page-backgroundColor":{"value":"#e56dee","edited":true},"page-sidebar-backgroundColor":{"value":"#f41f1f","edited":true},"group-textColor":{"value":"#0a0000","edited":true},"group-borderColor":{"value":"#171616","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#000000","edited":true},"widget-backgroundColor":{"value":"#ec0e24","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"Georgia,Georgia,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Smart Agriculture","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8f9b7917.a1a078","type":"ui_tab","z":"","name":"Field","icon":"pages","disabled":false,"hidden":false},{"id":"a6cfa934.2fda98","type":"ui_group","z":"","name":"Pressure","tab":"9d5c8e24.7bc53","order":3,"disp":true,"width":6,"collapse":false},{"id":"10563331.ee944d","type":"ui_group","z":"","name":"Button","tab":"dda62f39.62b66","order":2,"disp":true,"width":"6","collapse":false},{"id":"f8185bed.b8c368","type":"ui_group","z":"","name":" Humidity","tab":"9d5c8e24.7bc53","order":2,"disp":true,"width":6,"collapse":false},{"id":"fb0f1272.ce9ac","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"dda62f39.62b66","type":"ui_tab","z":"","name":"Motor Control","icon":"add_alert","order":2,"disabled":false,"hidden":false},{"id":"9d5c8e24.7bc53","type":"ui_tab","z":"","name":"Pune Weather Forecasting","icon":"cloud","disabled":false,"hidden":false},{"id":"a0ad97ea.2e38b8","type":"ui_group","z":"","name":"Default","tab":"9d5c8e24.7bc53","order":1,"disp":true,"width":6,"collapse":false},{"id":"273c98da.5636e8","type":"ui_group","z":"","name":"Moisture","tab":"8f9b7917.a1a078","order":2,"disp":true,"width":"6","collapse":false},{"id":"69cc746a.453cfc","type":"ui_group","z":"","name":"Humidity","tab":"8f9b7917.a1a078","order":3,"disp":true,"width":"6","collapse":false},{"id":"daffc024.9b1de","type":"ui_group","z":"","name":"Temperature","tab":"8f9b7917.a1a078","order":1,"disp":true,"width":"6","collapse":false},{"id":"c9562edc.4e8f5","type":"ui_group","z":"","name":" ","tab":"9d5c8e24.7bc53","order":4,"disp":true,"width":6,"collapse":false},{"id":"44d9fe3f.351cd","type":"ui_spacer","name":"spacer","group":"c9562edc.4e8f5","order":4,"width":6,"height":1},{"id":"5354491f.4b1908","type":"ui_link","z":"","name":"Link 4","link":"http://watson-iot-sensor-simulator.mybluemix.net/","icon":"open_in_browser","target":"iframe","order":4},{"id":"fecec81f.3f6058","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"39940405.a1d07c","type":"ui_group","z":"","name":"TEMPERATURE ","tab":"74311795.8626a8","order":2,"disp":true,"width":6,"collapse":false},{"id":"ab01a4d9.0b1518","type":"ui_group","z":"","name":"HUMIDITY","tab":"74311795.8626a8","order":1,"disp":true,"width":6,"collapse":false},{"id":"18924b14.f6b305","type":"ui_group","z":"","name":"MOISTURE","tab":"74311795.8626a8","order":3,"disp":true,"width":6,"collapse":false},{"id":"8fb39678.b08d58","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1ba81119.f7676f","type":"ui_group","z":"","name":"Button","tab":"4d483b39.ed2434","order":2,"disp":true,"width":"10","collapse":false},{"id":"a5e47264.5999a","type":"ui_group","z":"","name":"Weather From Pune","tab":"26cb6a40.3de906","order":2,"disp":true,"width":6,"collapse":false},{"id":"74311795.8626a8","type":"ui_tab","z":"","name":"Farm","icon":"local_florist","order":1,"disabled":false,"hidden":false},{"id":"4d483b39.ed2434","type":"ui_tab","z":"","name":"Motor Control","icon":"settings","order":3,"disabled":false,"hidden":false},{"id":"26cb6a40.3de906","type":"ui_tab","z":"","name":"Weather","icon":"cloud","disabled":false,"hidden":false},{"id":"8c326ba7.ff7588","type":"ibmiot in","z":"fe7efa8a.bfa918","authentication":"apiKey","apiKey":"a2bd60de.ac702","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1218","applicationId":"","deviceType":"IoT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":300,"wires":[["265db822.db0b38","42b27fa7.1aefe","ae48be2.6d94f4"]]},{"id":"64e9390e.abdd28","type":"debug","z":"fe7efa8a.bfa918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":260,"wires":[]},{"id":"265db822.db0b38","type":"function","z":"fe7efa8a.bfa918","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["64e9390e.abdd28","ae0eaf23.5339"]]},{"id":"ae48be2.6d94f4","type":"function","z":"fe7efa8a.bfa918","name":"temp","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["64e9390e.abdd28","a93ebbed.4198a8"]]},{"id":"42b27fa7.1aefe","type":"function","z":"fe7efa8a.bfa918","name":"moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["64e9390e.abdd28","a8d78fd2.6a07b"]]},{"id":"a93ebbed.4198a8","type":"ui_gauge","z":"fe7efa8a.bfa918","name":"","group":"daffc024.9b1de","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#2bf32b","#407811","#23480a"],"seg1":"","seg2":"","x":670,"y":200,"wires":[]},{"id":"a8d78fd2.6a07b","type":"ui_gauge","z":"fe7efa8a.bfa918","name":"","group":"273c98da.5636e8","order":4,"width":0,"height":0,"gtype":"gage","title":"Moisture ","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#4cd8f0","#288f88","#113588"],"seg1":"","seg2":"","x":660,"y":400,"wires":[]},{"id":"ae0eaf23.5339","type":"ui_gauge","z":"fe7efa8a.bfa918","name":"","group":"69cc746a.453cfc","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#f0f42a","#f2d40d","#f9aa01"],"seg1":"","seg2":"","x":660,"y":340,"wires":[]},{"id":"3f6a773e.6b8288","type":"ibmiot out","z":"fe7efa8a.bfa918","authentication":"apiKey","apiKey":"fb0f1272.ce9ac","outputType":"cmd","deviceId":"1810","deviceType":"IoT2","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":120,"wires":[]},{"id":"4677c33.c6a4c3c","type":"ui_button","z":"fe7efa8a.bfa918","name":"","group":"10563331.ee944d","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"ON","color":"","bgcolor":"","icon":"settings_power","payload":"{\"command\":\"MOTOR ON\"}","payloadType":"json","topic":"","x":250,"y":20,"wires":[["3f6a773e.6b8288","64e9390e.abdd28","55bcfdfe.f741e4"]]},{"id":"ec45d3b2.fab1a","type":"ui_button","z":"fe7efa8a.bfa918","name":"","group":"10563331.ee944d","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"OFF","color":"","bgcolor":"","icon":"not_interested","payload":"{\"command\":\"MOTOR OFF\"}","payloadType":"json","topic":"","x":260,"y":120,"wires":[["3f6a773e.6b8288","64e9390e.abdd28","55bcfdfe.f741e4"]]},{"id":"8ed1710f.61309","type":"http request","z":"2d41f131.11476e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Pune, IN&units=imperial&appid=58bf3b78f6b2531ec143b01eb74c2eb6","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":200,"wires":[["e0fb272b.3febe8","398af4f4.cfb1fc","e2866332.3e0c5","23dd438d.71bffc","ce33fc8b.34874"]]},{"id":"970a87c4.c07ef8","type":"inject","z":"2d41f131.11476e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["8ed1710f.61309"]]},{"id":"c77bae0b.a6d56","type":"ui_text","z":"2d41f131.11476e","group":"c9562edc.4e8f5","order":3,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":340,"wires":[]},{"id":"e0fb272b.3febe8","type":"change","z":"2d41f131.11476e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":340,"wires":[["c77bae0b.a6d56"]]},{"id":"da9e3fca.5a3e","type":"ui_text","z":"2d41f131.11476e","group":"c9562edc.4e8f5","order":2,"width":0,"height":0,"name":"","label":"pressure","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":260,"wires":[]},{"id":"a1082841.f6e868","type":"ui_text","z":"2d41f131.11476e","group":"c9562edc.4e8f5","order":1,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":140,"wires":[]},{"id":"e2866332.3e0c5","type":"change","z":"2d41f131.11476e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":140,"wires":[["a1082841.f6e868"]]},{"id":"398af4f4.cfb1fc","type":"change","z":"2d41f131.11476e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":260,"wires":[["da9e3fca.5a3e"]]},{"id":"23dd438d.71bffc","type":"debug","z":"2d41f131.11476e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":200,"wires":[]},{"id":"ce33fc8b.34874","type":"change","z":"2d41f131.11476e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather.0.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":60,"wires":[["db9cb0f4.17578"]]},{"id":"db9cb0f4.17578","type":"ui_text","z":"2d41f131.11476e","group":"c9562edc.4e8f5","order":5,"width":0,"height":0,"name":"","label":"Description","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":60,"wires":[]},{"id":"55bcfdfe.f741e4","type":"ui_text","z":"fe7efa8a.bfa918","group":"10563331.ee944d","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload.command}}","layout":"row-spread","x":610,"y":20,"wires":[]}]